.background {
    background-image: url(../images/calendar.png);
    background-position: center;
    background-size: cover; 
}
.fc .fc-button-primary {
    background-color: #34652B;
    border-color: #34652B;
    color: white;
}

.fc .fc-button-primary:hover {
    background-color: #9fa638;
    border-color: #9fa638;
    color: white;
}

a {
    color: #1C1B17;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #1C1B17;
    cursor: pointer;
}
.fc .fc-toolbar-title {
    color: #1C1B17;
    font-size: 1.75em;
    padding: 0px;
}

.fc-h-event {
    background-color: #8fa678;
    border: 1px solid #8fa678;
    font-size: 1rem;
    display: block;
}
.fc-daygrid-day-events a {
    color: #1C1B17;
    background: #8fa678
}
.fc-daygrid-day-events a:hover {
    background: #9fa638;
}
.fc .fc-button-primary:disabled {
    background: black;
    border-color: black;
    color: white;
}
.fc .fc-button-primary:hover {
    background: #9fa638;
    border-color: #9fa638;
    cursor: pointer;
}
.fc .fc-daygrid-more-link:hover {
    background: #9fa638;
    border-color: #9fa638;
    cursor: pointer;
}
.fc .fc-daygrid-event-harness {
    background: #8fa678;
    border-bottom: 1px solid white;
    border-radius: 5px;
}
.fc .fc-daygrid-event-harness:hover {
    background: #9fa638;
    border-bottom: 1px solid white;
    border-radius: 5px;
}