.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.main-color {
    background: #34652B;
    color: white;
}
.main-color:hover{
    opacity:0.9;
    color: black!important;
}
.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#lblCartCount {
    font-size: 15px;
    background: #ff0000;
    color: #fff;
    padding: 2px 5px;
    vertical-align: top;
     
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fbf8dd;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.cart-color {
    color: #2C3E69;
}
.cart-hover:hover {
    color: white;
}
.cart-background {
    background: url(/images/main.png);
    background-position: center;
    background-size: cover;
}
@media (min-width: 992px) {
    .cart-count-margin-left {
        margin-left: -30px;
    }
    .hidden {
        display: none;
    }
}
@media (max-width: 992px) {
    .cart-count-margin-left {
        margin-left: -30px; 
    }
    .hidden {
        display: inline;
    }
}
@media(max-width: 768px) {
    .cart-count-margin-left {
        margin-left: -25px;
    }
}
@media(max-width: 576px) {
    .cart-count-margin-left {
        margin-left: -10px;
    }
}