:root {
    --main-bg-color: #34652B;
    --main-color: #fbf8dd;
}
html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.bg-color{
    background: var(--main-bg-color);
}

body {
  min-height: 100%;
}

.menu-hover:hover {
    color: #1C1B17 !important;
}
.cursor-pointer {
    cursor: pointer;
}
.burger-button:focus{
    box-shadow: none;
}
.padding-7px0px {
    padding: 7px 0;
}
.card-body {
    flex: 1 1 auto;
    padding: 0 0.5rem 0.5rem 1rem;
}
@media (max-width: 992px) {
        .nav-flex-column {
        flex-direction: column;    
    }
    .nav-border-bottom {
        border-bottom: 1px solid white;
    }
    .nav-border-top {
        border-top: 1px solid white;
    }
}
@media (min-width: 992px) {
    .nav-flex-column {
        flex-direction: row;
    }
    .nav-border-bottom {
        border-bottom: none;
    }
    .nav-border-top {
        border-top: none;
    }
}