html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.menu-hover:hover {
    color: #607d43!important;
}
.cursor-pointer {
    cursor: pointer;
}
.burger-button:focus{
    box-shadow: none;
}
