<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/site.css">
	<title>Success Payment</title>
</head>
<body class="main-background">
<div class="d-flex justify-content-center align-items-center flex-column" style="height:70vh;">
	<h1>Your transaction was success!</h1>
	<a class="btn btn-primary" asp-action="EventCalendar" asp-controller="Calendar">View Calendar!</a>
</div>
</body>
</html>