@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <title>Success Payment</title>
</head>
<body class="green-background">
	<h3>@ViewData["Title"]</h3>
	<div class="row">
		<div class="col-md-6">
			<p>Тази страница позволява изтегляне или изтриване на информация!</p>
			<p>
				<strong>Изтриването на тази информация ще изтрие вашият профил!</strong>
			</p>
			<form id="download-data" asp-page="DownloadPersonalData" method="post">
				<button class="btn btn-primary" type="submit">Изтегли</button>
			</form>
			<p class="mt-3">
				<a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Изтрий</a>
			</p>
		</div>
	</div>
</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
