@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext ApplicationDbContext
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Wealth_Eco_Invest</title>
	<link href="~/font-awesome/css/all.css" rel="stylesheet"/>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<link rel="stylesheet" href="~/css/shoppingCartCounter.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	
</head>
<body>
<partial name="_NotificationsPartial" />
	@* onload="loadSpinner();" *@
	@* TODO: spinner *@
	<div id="spinner" class="d-none justify-content-center" style="width: 100%; height: 100%;">
		<div class="spinner-border" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
@* TODO: spinner *@

	<header>
		<nav class="navbar navbar-expand-lg navbar-light border-bottom box-shadow mb-3" style="background: #34652B; min-height: 70px;">
			<div class="container-fluid justify-content-between">
				<div>
					<a asp-action="Index" asp-controller="Home" class="nav-link"><img src="~/387451757_636760738629670_6251918314014004869_n.png" class="img-fluid" style="width: 300px; height: 70px;" /></a>
				</div>
				
				<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div style="width: 300px; background: rgba(52, 101, 43, 0.92); " class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
					<div class="offcanvas-header justify-content-between">
						<p class="text-white m-0 fs-4">Wealth-Eco-Invest</p>
						<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body">
						<ul class="navbar-nav d-flex align-items-center nav-flex-column ms-auto">

							@if (SignInManager.IsSignedIn(User) && !(await UserManager.IsInRoleAsync(await ApplicationDbContext.Users.FirstAsync(x => x.Id == Guid.Parse(
									this.User.GetId()!)), "Administrator")))
							{
								@* <li class="nav-item me-3 fs-4 nav-border-top nav-border-bottom w-100 text-center">
							<a class="nav-link text-white text-decoration-none menu-hover fs-5" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
							</li> *@
								<li class="nav-item me-3 fs-4 nav-border-top nav-border-bottom w-100 text-center">
									<a class="nav-link text-white text-decoration-none menu-hover fs-5" asp-area="" asp-controller="Announce" asp-action="All">Announces</a>
								</li>
								<li class="nav-item fs-4 text-white nav-border-top nav-border-bottom w-100 text-center">
									<a class="nav-link text-white cursor-pointer menu-hover" asp-action="EventCalendar" asp-controller="Calendar"><i class="fa-regular fa-calendar-days"></i>
									<p class="hidden">Calendar</p></a>
								</li>
								<li class="nav-item padding-7px0px fs-4  text-white text-center nav-border-top nav-border-bottom w-100 text-center">
									<div class="d-flex menu-hover justify-content-center align-items-start">
										<a class="text-white text-decoration-none cursor-pointer menu-hover" asp-action="All" asp-controller="ShoppingCart"><i class="fa-solid fa-cart-shopping me-sm-3"></i></a>
										<span class='cart-count-margin-left badge badge-warning' id='lblCartCount'> @ApplicationDbContext.Carts.Count(x => x.BuyerId == Guid.Parse(User.GetId()!)) </span>
										<a asp-action="All" asp-controller="ShoppingCart" class="text-white text-decoration-none ms-1 hidden cursor-pointer menu-hover">Cart</a>
									</div>
								</li>
							}
							<partial name="_LoginPartial"/>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		@* SIDE NAVBAR *@
		<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
				<button type="button" class="btn-close burger-button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<p>Try scrolling the rest of the page to see this option in action.</p>
			</div>
		</div>
		@* SIDE NAVBAR END *@
	</header>
    <div class="container">
        <main role="main" class="pb-5">
            @RenderBody()
        </main>
    </div>

<footer class="footer text-muted text-center" style="background: #607d43; width: 100%; position: absolute; bottom: 0;">
	<div class="container">
		<span class="text-white fs-5">&copy; @DateTime.UtcNow.Year - Wealth Evo Invest - all rights reserved</span>
	</div>
</footer>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
		function loadSpinner() {
			setTimeout(function() {
					$("#spinner").addClass("d-flex");
				}, 10000);
			console.log(5);
			$("#spinner").removeClass("d-none");
			console.log(10);
		}
</script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
