@inject ApplicationDbContext DbContext
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Wealth_Eco_Invest</title>
	<link href="~/font-awesome/css/all.css" rel="stylesheet"/>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<link rel="stylesheet" href="~/css/shoppingCartCounter.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	
</head>
<body style="background: #e8e8e8; height: 50vh;">
	<partial name="_NotificationsPartial" />
<header>
	<nav class="navbar navbar-expand-sm  navbar-light border-bottom box-shadow mb-3" style="background: #8fa678; height: 70px;">
		<div class="container-fluid">
			<div class="navbar-collapse collapse d-flex justify-content-center align-items-center">
				<ul class="navbar-nav flex-grow-1">
					@* <li class ="nav-item" style="width: 200px; height: 70px;">
						<a class="nav-link"><img src="387451757_636760738629670_6251918314014004869_n.png" class="img-fluid" /></a>
					</li> *@
					<li class="nav-item">
							<button class="btn text-white menu-hover burger-button fs-5" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="fa-solid fa-bars"></i></button>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white menu-hover fs-5" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white menu-hover fs-5" asp-area="" asp-controller="Announce" asp-action="All">Announces</a>
					</li>
				</ul>
				@if (SignInManager.IsSignedIn(User))
				{
					<div class="fs-4 me-2 text-white">
						<a class="text-white" asp-action="EventCalendar" asp-controller="Calendar"><i class="fa-regular fa-calendar-days cursor-pointer menu-hover"></i></a>
					</div>
					<div class="fs-4 me-1 text-white">
						<a class="text-white" asp-action="All" asp-controller="ShoppingCart"><i class="fa-solid fa-cart-shopping cursor-pointer menu-hover"></i></a>
						<span class='badge badge-warning' id='lblCartCount'> @DbContext.Carts.Count(x => x.BuyerId == Guid.Parse(User.GetId()!)) </span>
					</div>
				}
				
				<partial name="_LoginPartial"/>
			</div>
		</div>
	</nav>
	@* SIDE NAVBAR *@
	<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
			<button type="button" class="btn-close burger-button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<p>Try scrolling the rest of the page to see this option in action.</p>
		</div>
	</div>
	@* SIDE NAVBAR END *@
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<footer class="footer text-muted" style="background: #607d43; width: 100%;">
	<div class="container">
			<span class="text-white fs-5">&copy; @DateTime.UtcNow.Year - Wealth Evo Invest - all rights reserved</span>
	</div>
</footer>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
