@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@* <ul class="navbar-nav"> *@
@if (SignInManager.IsSignedIn(User))
{
    <span>
            <a class="nav-link text-white menu-hover fs-5" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a>
    </span>
    <span>
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
	        <button type="submit" class="nav-link btn btn-link text-white menu-hover fs-5">Logout</button>
        </form>
    </span>
}
else
{
    <span>
            <a class="nav-link text-white menu-hover fs-5" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
    </span>
    <span>
            <a class="nav-link text-white menu-hover fs-5" asp-area="Identity" asp-page="/Account/Login">Sign In</a>
    </span>
}
@* </ul> *@

<script src="~/js/site.js" asp-append-version="true"></script>