<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="~/css/calendar.css"/>
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
</head>
<body class="background">
	<div id='calendar'></div>
</body>
</html>
<script>
	$(document).ready(function() {
		
		$.ajax({
			type: "GET",
			url: "@Url.Action("GetAll", "Calendar")",
			contentType: "application/json; charset=utf-8",
			success: function(data) {
				if (data.length > 0) {
					calendarRending(data);
				} else {
					calendarRending();
				}
				
			}
		});

		function calendarRending(elems = []) {
			var calendarEl = document.getElementById('calendar');
			var calendar = new FullCalendar.Calendar(calendarEl,
				{
					initialView: 'multiMonthYear',
					multiMonthMaxColumns: 1,
					showNonCurrentDates: true,
					eventColor: '#1C1B17',
					events: elems,
					eventClick: function(info) {
						$("#annTitle").text(info.event.title);
						$(".annTitle").text(info.event.title);
						$("#annStartDate").text(FullCalendar.formatDate(Date.parse(info.event.start.toString()),
							{
								month: 'numeric',
								year: 'numeric',
								day: 'numeric',
								weekday: 'short',
								hour12: 'true',
								timeZone: 'local',
								timeZoneName: 'short',
							}));
						$('#staticBackdrop').modal('show');
						
					}
				});
			calendar.render();
		}
		
	});


</script>

@* CALENDAR MODAL *@
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div style="background: #8fa678" class="modal-header">
				<h1 class="modal-title fs-5 annTitle text-white" id="staticBackdropLabel"></h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body text-center justify-content-center align-items-center">
				<h1 class="mb-5" id="annTitle"></h1>
				<span class="fs-5 fw-bold">Дата на започване: </span>
				<h5 id="annStartDate"></h5>
			</div>
			<div style="background: #8fa678" class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Затвори</button>
			</div>
		</div>
	</div>
</div>
@* CALENDAR MODAL END*@