<!DOCTYPE html>
<html>
<head>
	<style>
		.fc .fc-button-primary {
			background-color: #8fa678;
			border-color: #8fa678;
			color: white;
		}

		.fc .fc-button-primary:hover {
			background-color: #9fa638;
			border-color: #9fa638;
			color: white;
		}
		a {
			color: #74B72E;
			text-decoration: none;
		}

		.fc .fc-toolbar-title {
			color: #2c3e50;
			font-size: 1.75em;
			padding: 0px;
		}

		.fc-h-event {
			background-color: #8fa678;
			border: 1px solid #8fa678;
			font-size: 1rem;
			display: block;
		}
	</style>
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
	
</head>
<body>

	<div id='calendar'></div>
</body>
</html>
<script>
	$(document).ready(function() {
		
		$.ajax({
			type: "GET",
			url: "@Url.Action("GetAll", "Calendar")",
			contentType: "application/json; charset=utf-8",
			success: function(data) {
				if (data.length > 0) {
					calendarRending(data);
				} else {
					calendarRending();
				}
				
			}
		});

		function calendarRending(elems = []) {
			var calendarEl = document.getElementById('calendar');
			var calendar = new FullCalendar.Calendar(calendarEl,
				{
					initialView: 'dayGridMonth',
					events: elems,
					eventClick: function(info) {
						$("#annTitle").text(info.event.title);
						$(".annTitle").text(info.event.title);
						$("#annStartDate").text(FullCalendar.formatDate(Date.parse(info.event.start.toString()),
							{
								month: 'numeric',
								year: 'numeric',
								day: 'numeric',
								timeZoneName: 'short',
								timeZone: 'locale',
								locale: 'es',
							}));
						$('#staticBackdrop').modal('show');
						
					}
				});
			calendar.render();
		}
		
	});


</script>

@* DELETE MODAL *@
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div style="background: #8fa678" class="modal-header">
				<h1 class="modal-title fs-5 annTitle text-white" id="staticBackdropLabel"></h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body text-center justify-content-center align-items-center">
				<h1 class="mb-5" id="annTitle"></h1>
				<span class="fs-5 fw-bold">Start Date: </span>
				<h5 id="annStartDate"></h5>
			</div>
			<div style="background: #8fa678" class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
@* DELETE MODAL END*@