<!DOCTYPE html>
<html>
<head>
	<style>
		.fc .fc-button-primary {
			background-color: #8fa678;
			border-color: #8fa678;
			color: white;
		}

		.fc .fc-button-primary:hover {
			background-color: #9fa638;
			border-color: #9fa638;
			color: white;
		}
		a {
			color: #74B72E;
			text-decoration: none;
		}

		.fc .fc-toolbar-title {
			color: #2c3e50;
			font-size: 1.75em;
			padding: 0px;
		}

		.fc-h-event {
			background-color: #8fa678;
			border: 1px solid #8fa678;
			font-size: 1rem;
			display: block;
		}
	</style>
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
	
</head>
<body>

	<div id='calendar'></div>
</body>
</html>
<script>
	$(document).ready(function() {
		
		$.ajax({
			type: "GET",
			url: "@Url.Action("GetAll", "Calendar")",
			contentType: "application/json; charset=utf-8",
			success: function(data) {
				if (data.length > 0) {
					calendarRending(data);
				} else {
					calendarRending();
				}
				
			}
		});

		function calendarRending(elems = []) {
			var calendarEl = document.getElementById('calendar');
			var calendar = new FullCalendar.Calendar(calendarEl,
				{
					initialView: 'dayGridMonth',
					events: elems
				});
			calendar.render();
		}
		
	});


</script>