@model CalendarViewModel[]
<!DOCTYPE html>
<html>
<head>
	<style>
		.fc .fc-button-primary {
			background-color: #8fa678;
			border-color: #8fa678;
			color: white;
		}

		.fc .fc-button-primary:hover {
			background-color: #9fa638;
			border-color: #9fa638;
			color: white;
		}
		a {
			color: #74B72E;
			text-decoration: none;
		}

		.fc .fc-toolbar-title {
			color: #2c3e50;
			font-size: 1.75em;
			padding: 0px;
		}

		.fc-h-event {
			background-color: #8fa678;
			border: 1px solid #8fa678;
			font-size: 1rem;
			display: block;
		}
	</style>
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
	<script>
		function calendarRender() {
			document.addEventListener('DOMContentLoaded',
				function() {
					var calendarEl = document.getElementById('calendar');
					var calendar = new FullCalendar.Calendar(calendarEl,
						{
							initialView: 'dayGridMonth'
						});
					events: @Model,
						
					calendar.render();
					
				});
		};
		calendarRender();
		// [{
		// 		title  : 'basketBallTournament',
		// 		start  : '2023-12-12'
		// 	}, 
		// 	{
		// 		title  : 'Tennis',
		// 		start  : '2023-12-26'
		// 	}
		// ]
		
		function addingCalendarEvent(elements) {
			calendarRender(elements);
		};
		
	</script>
</head>
<body>
	<div id='calendar'></div>
</body>
</html>