@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row d-flex align-items-center">
    <div class="col-md-4">
	    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
		    <h1 class="text-dark text-center mb-2 mt-4">@ViewData["Title"]</h1>
		    <h2 class="text-dark text-center">Create a new account.</h2>
		    <hr class="text-dark"/>
		    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
		    <div class="form-floating mb-3">
			    <input asp-for="Input.Email" class="form-control" autocomplete="email" id="email" aria-required="true" type="email" placeholder="email"/>
			    <label asp-for="Input.Email" for="email"></label>
			    <span asp-validation-for="Input.Email" class="text-danger"></span>
		    </div>
		    <div class="form-floating mb-3">
			    <input asp-for="Input.Username" class="form-control" autocomplete="username" id="username" aria-required="true" type="text" placeholder="username"/>
			    <label asp-for="Input.Username" for="username"></label>
			    <span asp-validation-for="Input.Username" class="text-danger"></span>
		    </div>
		    <div class="form-floating mb-3">
			    <input asp-for="Input.Password" class="form-control" id="password" type="password" placeholder="password" autocomplete="new-password" aria-required="true"/>
			    <label asp-for="Input.Password" for="password"></label>
			    <span asp-validation-for="Input.Password" class="text-danger"></span>
		    </div>
		    <div class="form-floating mb-3">
			    <input asp-for="Input.ConfirmPassword" class="form-control" id="confirm-password" type="password" placeholder="confirm-password" autocomplete="new-password" aria-required="true"/>
			    <label asp-for="Input.ConfirmPassword" for="confirm-password"></label>
			    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
		    </div>
		    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
	    </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}