@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/site.css">
	<title>Потвърди акаунт</title>
</head>
<body class="green-background">
	<div class="d-flex justify-content-center align-items-center" style="height: 70vh;">
		<h1>Проверете имейла си за да потвърдите акаунта</h1>
	</div>
</body>
</html>